/*
$breakpoint arguments:
- phone
- tablet
- desktop
- medium-desktop
- large-desktop
*/
@mixin responsive($breakpoint) {
    /* Mobile Styles */
    @if $breakpoint == mobile {
        @media (max-width: 720px) {
            @content;
        }
    }

    /* Tablet Styles */
    @if $breakpoint == tablet {
        @media (min-width: 721px) and (max-width: 960px) {
            @content;
        }
    }

    /* Desktop Styles */
    @if $breakpoint == desktop {
        @media (min-width: 961px) {
            @content;
        }
    }
}

@mixin responsive-image {
    width: 100%;
    height: auto;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
