.about-us {
    display: flex;
    margin-bottom: 12.5rem;
    @include responsive(mobile) {
        flex-direction: column;
        padding: 1rem;
        margin-bottom: 4.5rem;
    }

    &__heading {
        flex: 0 0 31rem;
        text-transform: capitalize;
        color: var(--color-black);
        font-style: normal;
        @include responsive(mobile) {
            margin-bottom: 2.5rem;
            flex: 0;
        }
    }
    &__header {
        font-family: Manrope;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem; /* 133.333% */
        letter-spacing: -0.03rem;
    }
    &__context-box {
        margin-bottom: 5rem;
    }
    &__text {
        font-family: Manrope;
        font-size: 2rem;
        font-weight: 400;
        line-height: 3rem; /* 150% */
    }
}
