.contact-form {
    display: flex;
    gap: 1rem;
    @include responsive(mobile) {
        flex-direction: column;
        padding-bottom: 5rem;
    }
    &__input {
        min-width: 26rem;
        outline: none;
        border: none;
        display: flex;
        padding: 1rem 2.5rem 1rem;
        align-items: flex-start;
        border-radius: 3.5rem;
        background: var(--color-white);
    }
    &__submit {
        min-width: 11rem;
        outline: none;
        border: none;
        color: var(--color-black);
        font-family: Manrope;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.75rem; /* 140% */
        cursor: pointer;
        text-transform: capitalize;

        display: flex;
        padding: 1rem 2.5rem;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--color-black);
        border-radius: 31.25rem;
        background-image: linear-gradient(
            45deg,
            var(--color-primary-light),
            var(--color-primary),
            var(--color-primary-dark)
        );
        background-size: 300%;
        transition: all 0.4s;

        &:hover {
            background-size: 100%;
            box-shadow: 0 1rem 2rem rgba(var(--color-black), 0.15);
            transform: translateY(-2px);
        }
        &:active {
            background-size: 100%;
            box-shadow: 0 1rem 2rem rgba(var(--color-black), 0.15);
            transform: translateY(0);
        }
    }
}
