.popup {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.8);

    &__content {
        @include absolute-center;
        width: 75%;
        min-height: 50rem;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation-name: animatetop;
        animation-duration: 0.4s;
        background-color: var(--color-white);

        @keyframes animatetop {
            from {
                top: -300px;
                opacity: 0;
            }
            to {
                top: 0;
                opacity: 1;
            }
        }
    }

    &__close {
        background-color: var(--color-primary-dark);
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        position: absolute;
        top: 0rem;
        right: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__checkbox {
        display: none;
    }

    &__icon {
        position: relative;
        background-color: transparent;
        cursor: pointer;

        &,
        &::before,
        &::after {
            display: inline-block;
            width: 2rem;
            height: 2px;
        }
        &::before,
        &::after {
            content: " ";
            position: absolute;
            left: 0;
            transition: all 0.5s;
            background-color: var(--color-white);
        }
        &::before {
            top: -0rem;
            transform: rotate(45deg);
        }

        &::after {
            top: 0rem;
            transform: rotate(-45deg);
        }
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }
    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}
